/*** Basic dimensions ***/
// Gutter width
$gutter-width: 40px !default;

// Breakpoints
$breakpoint-medium: 1001px !default;
$breakpoint-small: 641px !default;
$breakpoint-extra-small: 481px !default;

// Content width
$content-width: 1378px;