.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon--preparatory-courses {
    background-image: url("../img/sprite.png");
    background-position: 0px 0px;
    width: 40px;
    height: 40px;
}

.icon--baccalaureate {
    background-image: url("../img/sprite.png");
    background-position: 0px -41px;
    width: 40px;
    height: 40px;
}

.icon--magistracy {
    background-image: url("../img/sprite.png");
    background-position: 0px -246px;
    width: 40px;
    height: 40px;
}

.icon--graduates {
    background-image: url("../img/sprite.png");
    background-position: 0px -164px;
    width: 40px;
    height: 40px;
}

.icon--teachers {
    background-image: url("../img/sprite.png");
    background-position: 0px -615px;
    width: 40px;
    height: 40px;
}

.icon--scientific-life {
    background-image: url("../img/sprite.png");
    background-position: 0px -492px;
    width: 40px;
    height: 40px;
}

.icon--beam-tv {
    background-image: url("../img/sprite.png");
    background-position: 0px -410px;
    width: 40px;
    height: 40px;
}

.icon--master-classes {
    background-image: url("../img/sprite.png");
    background-position: 0px -287px;
    width: 40px;
    height: 40px;
}

.icon--publications {
    background-image: url("../img/sprite.png");
    background-position: 0px -451px;
    width: 40px;
    height: 40px;
}

.icon--photogallery {
    background-image: url("../img/sprite.png");
    background-position: 0px -369px;
    width: 40px;
    height: 40px;
}

.icon--video-library {
    background-image: url("../img/sprite.png");
    background-position: 0px -656px;
    width: 40px;
    height: 40px;
}

.icon--young-tv {
    background-image: url("../img/sprite.png");
    background-position: 0px -82px;
    width: 40px;
    height: 40px;
}

.icon--bottom {
    background-image: url("../img/sprite.png");
    background-position: 0px -786px;
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
}