.main-page-button {
    text-align: center;
    @include breakpoint($breakpoint-medium) {
        text-align: right;
    }
    padding-top: 50px;
    padding-bottom: 20px;
    button {
        width: 100%;
        line-height: 46px;
        display: inline-block;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 18px;
        padding: 0 12px;
        @include breakpoint($breakpoint-medium) {
            width: auto;
            line-height: 46px;
            padding: 0 80px;
        }
        background-color: $orange-color;
        color: white;
        border-radius: 11px;
        border: 2px solid $orange-color;
        &:hover {
            background-color: white;
            color: black;
            cursor: pointer
        }
    }
}