.news-list-item {
    &+& {
        margin-top: 45px;
    }
    &__content>*+* {
        margin-top: 16px;
    }
    &__image {
        width: 100%;
        @include breakpoint($breakpoint-medium) {
            width: 336px; //    > * {
            //    }
        }
        >* {
            width: 100%;
            height: 252px;
            background-color: #838383;
        }
    }
    @include breakpoint($breakpoint-medium) {
        display: table;
        table-layout: fixed;
        >* {
            display: table-cell;
            vertical-align: top;
        }
        &__content {
            padding-left: 20px;
        }
    }
    *+&__content {
        margin-top: 16px;
        @include breakpoint($breakpoint-medium) {
            margin-top: 0px;
        }
    }
    &__date {
        color: $orange-color;
        font-size: 22px;
        font-weight: bold;
        *+& {
            margin-top: 24px;
        }
    }
    &__header {
        font-size: 22px;
        font-weight: bold;
        *+& {
            margin-top: 24px;
        }
    }
    .file-downloads {
        padding-top: 45px;
    }
}